footer{
    margin-top: 20vh;
    background-color: #4F4CEE;
    color: white;
    padding-top: 30px;
}
.footer{
    padding: 30px 100px;
    gap: 80px;
}
footer h2{
    font-size: 25px;
}
footer ul :where(li, a){
    color: white;
    padding-bottom: 8px;
}
footer .bn45{
    font-size: 20px;
    width: 120px;
    height: 40px;
}
hr{
    color: white;
    width: 100%;
}
.bottomfooter{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social i{
    padding-right: 20px;
    gap: 50px;
}