nav{
    padding: 30px 40px;
}
nav h2{
    color: #4F4CEE;
}
nav a{
    text-decoration: none;
}
nav ul{
    gap: 30px;
    margin-top: 20px;
}
ul li, li a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}
.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.guestActions{
    margin-top: 100px;
}
.btns button{
    padding: 5px 15px;
    color: #4F4CEE;
}
.btns .btn:hover{
    background-color: #4F4CEE;
}
.btns .btt{
    background-color: #4F4CEE;
    color: white;
    border: none;
    border-radius: 5px;
}
.userbtn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user{
    background-color: #DADAFB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
.user i{
    font-size: 30px;
    margin-top: 8px;
    color: #4F4CEE;
}